@model IEnumerable<Modelo.Modelo.Livro>

@{
    ViewBag.Title = "Listar Livros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main">

    <div class="col-12 fadeIn" style="margin-bottom:20px;" id="col12">

        <h1>Começe a Baixar os livros</h1>
        <h2>Crie sua conta e Baixe os livros totalmente gratuitos</h2>
        <h3>Compartilhe seus livros</h3>

    </div>
    @using (Html.BeginForm())
    {
        <div class="row col-6">
            @Html.TextBox("Busca", null, new { @class = "form-control", @placeholder="Busque um Título" })
            <button type="submit" style="margin-left: 10px;" class="btn btn-info fa fa-search"></button>
        </div>
    }

    <div class="col-md-12" style="opacity: 0.8; margin-top:15px;">
        <div class="row">
            @Html.ActionLink("Adicionar Livro", "GravarLivro", null, new { @class = "btn btn-dark fa fa-plus-square", @value = "Adicionar Livro" })
        </div>
    </div>


    <div class="row fadeIn" id="cardbook">
        @foreach (var item in Model)
        {
            <div class="card col-md-2" style="width: 15rem; margin-left: 10px;">
                @if (item.Imagem != null)
                {
                    {
                        var base64 = Convert.ToBase64String(item.Imagem);
                        var imgSrc = String.Format("data:image/gif;base64, {0}", base64);
                        <img id="imagem" class="card-img-top" src="@imgSrc" alt="Card image cap">
                    }
                }
                <div class="card-body">
                    <h6 class="card-title">@item.Titulo</h6>
                    <div class="col-2">
                        @*@Html.ActionLink("Detalhes", "DetalhesLivro", null, new { id = item.LivroId }, new { @class = "btn btn-info btn-sm", @id = "livro" })*@
                        @Html.ActionLink("Editar", "EditarLivro", null, new { id = item.LivroId }, new { @class = "btn btn-primary btn-sm", @id = "livro" })
                        @Html.ActionLink("Deletar", "DeletarLivro", null, new { id = item.LivroId }, new { @class = "btn btn-dark btn-sm", @id = "livro" })
                        @Html.ActionLink("Download", "DownloadFile", null, new { id = item.LivroId }, new { @class = "fa fa-download btn btn-default btn-sm", @id = "livro" })
                    </div>
                </div>

            </div>
        }
    </div>

</main>
@section scripts{

    @if (TempData["gravar"] != null)
    {
        <script type="text/javascript">
            toastr.success("@TempData["gravar"]");
        </script>
    }

    @if (TempData["editar"] != null)
    {
        <script type="text/javascript">
            toastr.info("@TempData["editar"]");
        </script>
    }

    @if (TempData["deletar"] != null)
    {
        <script type="text/javascript">
            toastr.warning("@TempData["deletar"]");
        </script>
    }

}


